<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tutorial Vue | EL Creative Academy</title>
  <link rel="stylesheet" href="./styles.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.css" />
</head>

<body>
  <div id="aplikasi">
    <div class="field">
      <label class="label">KM</label>
      <input v-model="km" class="input" type="number" placeholder="Masukkan satuan KM">
    </div>

    <div class="field">
      <label class="label">M</label>
      <input v-model="m" class="input" type="number" placeholder="Masukkan satuan M">
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="./main2.js"></script>
</body>
</html>